table, th, td {
  border: 100px solid black;
  border-collapse: true;
}
th, td {
  background-color: burlywood;
}

/* marquee */
.holder {
  background:#ccc;
  padding:0.5rem;
  overflow: hidden;
}
.content {
  animation : slide 5s linear infinite;
  
}

@keyframes slide {
  0% {
    transform: translatex(100%)
  }

  100% {
    transform: translatex(0%)
  }
}

svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 60%;
}

.yertlebook {
  background-color:#40a147;
  color:white;
  font-family:sans-serif;
}

.comesbackbook {
  background-color:#2188b8;color:white;font-size:10;color:white;font-family:sans-serif;
}

.backbook {
  font-size:30;background-color:#2188b8;color:white;font-family:sans-serif;
}

.white {
  color:white
}

.space{
  display:inline-block;width:68;
}

.lespace{
  display:inline-block;width:58;
}

.andin {
  display:inline-block;width:32;
}

.ENGs {
  display:inline-block;width:9;
}

.font {
  font-family:sans-serif;
}

.title {
  color:red;text-align:center;                    
}

.option {
  margin-left: 30px;
}

.blue {
  color:blue
}

.fleft {
  float:left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}