table, th, td {
  border: 1px solid whitesmoke;
  border-collapse: true;
}
th, td {
  background-color: burlywood;
}

/* marquee */
.holder {
  background:#ccc;
  padding:0.5rem;
  overflow: hidden;
}
.content {
  animation : slide 5s linear infinite;
  
}

@keyframes slide {
  0% {
    transform: translatex(100%)
  }

  100% {
    transform: translatex(0%)
  }
}

svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 60%;
}

.yertlebook {
  background-color:#40a147;
  color:white;
  font-family:sans-serif;
}
